# Gemini API
GEMINI_API_KEY=your_gemini_api_key_here

# Wan API
WAN_API_KEY=your_wan_api_key_here

# aliOSS / OpenAI-Compatible API
GYRH_ALIOSS_OPENAI_API_KEY=your_alioss_api_key_here

# JWT Token
TOKEN_KEY=your_token_secret_key_here

# Frontend <-> Backend Auth
GYRH_AUTH_PUBLIC_KEY=your_frontend_public_key_here
GYRH_AUTH_PRIVATE_KEY=your_backend_private_key_here

# OSS Configuration
OSS_ENDPOINT=your_oss_endpoint_here
OSS_BUCKET=your_bucket_name_here
OSS_BUCKET_PREFIX=images_data/
OSS_ACCESS_KEY_ID=your_access_key_id_here
OSS_ACCESS_KEY_SECRET=your_access_key_secret_here
